.vanillatoasts-fadeOut, .vanillatoasts-toast {
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  #vanillatoasts-container {
    position: fixed;
    width: 320px;
    font-family: Helvetica;
    pointer-events: none;
    z-index: 9999999999999;
  }
  
  .toasts-top-right {
    top: 0;
    right: 43px;
  }
  
  .toasts-top-left {
    left: 0;
    top: 0;
  }
  
  .toasts-bottom-left {
    left: 30px;
    bottom: 0;
  }
  
  .toasts-bottom-right {
    bottom: 0;
    right: 0;
  }
  
  .toasts-top-center {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
  
  .toasts-bottom-center {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .vanillatoasts-toast {
    position: relative;
    padding: 20px 41px 20px 10px;
    margin: 20px;
    border-radius: 10px;
    background: #f5f5f5;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    animation-name: VanillaToasts;
    pointer-events: all;
    width: 450px;
  }
  
  .vanillatoasts-fadeOut {
    animation-name: VanillaToastsFadeOut;
    animation-fill-mode: forwards;
  }
  
  #vanillatoasts-container h4, #vanillatoasts-container p {
    margin: 3px 0 !important;
  }
  
  .vanillatoasts-title {
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  .vanillatoasts-text {
    font-size: 14px;
    color: #777;
  }
  
  .vanillatoasts-icon {
    position: absolute;
    top: 2px;
    right: -49px;
    width: 85px;
    height: 85px;
    border-radius: 100%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    background: #fff;
  }
  
  .vanillatoasts-toast a, .vanillatoasts-toast a:hover {
    color: #549edb !important;
    text-decoration: none !important;
  }
  
  .vanillatoasts-success {
    border-bottom: 2px solid #51c625;
  }
  
  .vanillatoasts-warning {
    border-bottom: 2px solid #db9215;
  }
  
  .vanillatoasts-error {
    border-bottom: 2px solid #db2b1d;
  }
  
  .vanillatoasts-info {
    border-bottom: 2px solid #27abdb;
  }
  
  @keyframes VanillaToasts {
    from {
      transform: translate3d(400px, 0, 0);
      opacity: 0;
    }
    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  @keyframes VanillaToastsFadeOut {
    from {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
    to {
      transform: translate3d(400px, 0, 0);
      opacity: 0;
    }
  }
  .rtl .vanillatoasts-icon {
    left: 0px;
    right: unset;
  }
  